<style>
    body {
      background-image: url("https://static.vecteezy.com/system/resources/previews/000/701/679/non_2x/abstract-polygonal-background-geometrical-shape-vector.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <script src="angular.min.js"></script>
    <script src="teacher.js"></script>
</head>
<body ng-app="myapp" ng-controller="myctrl">
    <table cellpadding="7" cellspacing="7" border="4">
        <tr>
            <th>SERIAL_NUMBER</th>
            <th>TEACHER_ID</th>
            <th>TEACHER_NAME</th>
            <th>SALARY</th>
            <th>AGE</th>
            <th>OPTIONS</th>
        </tr>
        <tr ng-repeat="teacher in listTeachers">
            <td>{{$index}}</td>
            <td>{{teacher.id}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.price}}</td>
            <td>{{teacher.quantity}}</td>
            <td>
                <a href="#" ng-click="delete()">DELETE</a> |
                <a href="#" ng-click="edit(teacher.id)">EDIT</a>
            </td>
        </tr>
    </table>
    <h3>TEACHER_INFORMATION</h3>
    <table cellpadding="4" cellspacing="5">
        <tr>
            <td>TEACHER_ID</td>
            <td><input type="text" ng-model="id"></td>
        </tr>
        <tr>
            <td>TEACHER_NAME</td>
            <td><input type="text" ng-model="name"></td>
        </tr>
        <tr>
            <td>SALARY</td>
            <td><input type="text" ng-model="price"></td>
        </tr>
        <tr>
            <td>AGE</td>
            <td><input type="text" ng-model="quantity"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="button" value="ADD" ng-click="add()">
            <input type="button" value="SAVE" ng-click="save()"></td>
        </tr>
    </table>
    
</body>
</html>